/myapp
/puyo1.png
/puyo.png
/blnErase.mid
/drmClear.mid
/drmErase.mid
/drmKill.mid
/drmMove.mid
/drmOver.mid
/drmPut.mid
/moguse00.mid
/moguse01.mid
/moguse02.mid
/moguse03.mid
/erase
/erase.mid
/gameover.mid
/move.mid
/drop.mid
